:root {
    --background-color: #27272a;
    --text-color: #fafafa;
    --border-color: #09090b;
    --intro-text-color: #a1a1aa;
    --button-bg-color: #fafafa;
    --button-text-color: #18181b;
    --error-text-color: #ffffff;
    --input-bg-color: transparent;
    --input-shadow-color: rgba(0, 0, 0, 0.05);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --box-shadow-secondary-color: rgba(0, 0, 0, 0.06);
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fafafa;
        --text-color: #18181b;
        --border-color: #e5e5e5;
        --intro-text-color: #52525b;
        --button-bg-color: #27272a;
        --button-text-color: #fafafa;
        --error-text-color: #000000;
        --input-bg-color: #ffffff;
        --input-shadow-color: rgba(0, 0, 0, 0.1);
        --box-shadow-color: rgba(0, 0, 0, 0.2);
        --box-shadow-secondary-color: rgba(0, 0, 0, 0.1);
    }
}

.divider,
.error,
.working,
a.helpLink.tiny,
.heading + .buttons {
    display: none;
}

body {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--background-color);
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div#api {
    padding: 1.5rem;
    border-radius: 0.75rem; 
    border-width: 1px; 
    box-shadow: 0 1px 3px 0 var(--box-shadow-color), 0 1px 2px 0 var(--box-shadow-secondary-color);
    border-color: var(--border-color);
    background-color: var(--border-color);
    color: var(--text-color);
    width: 24rem;
}

.heading {
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 600; 
    letter-spacing: -0.025em;
    text-align: center;
    margin: 0.5rem;
}

.intro {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--intro-text-color);
    margin-block-end: 1.5rem;
}

.entry {
    display: grid;
    gap: 1.5rem; 
}

.entry-item,
.attrEntry {
    display: grid;
    gap: 0.5rem;
}

.entry-item label, 
.attrEntry label {
    font-size: 0.875rem;
    font-weight: 500; 
    line-height: 1; 
}

.password-label {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.password-label a {    
    font-size: 0.875rem;
    line-height: 1; 
}

.password-label a:hover,
.password-label a:focus { 
    text-decoration: underline; 
    text-underline-offset: 4px;
}

.entry-item input,
.attrEntry input {
    display: flex; 
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    border-radius: 0.375rem; 
    border-width: 1px; 
    font-size: 1rem;
    line-height: 1.5rem; 
    background-color: var(--input-bg-color); 
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    box-shadow: 0 1px 2px 0 var(--input-shadow-color); 
}

@media (min-width: 768px) { 
    .entry-item input {
        font-size: 0.875rem;
        line-height: 1.25rem; 
    }
}

.buttons {
    display: grid;
    gap: 1rem; 
    margin-block: 1rem;
}

.buttons button {
    display: inline-flex; 
    padding-block: 0.5rem;
    padding-inline: 1rem;
    gap: 0.5rem; 
    justify-content: center; 
    align-items: center; 
    border-radius: 0.375rem; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    white-space: nowrap; 
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    box-shadow: 0 1px 3px 0 var(--box-shadow-color), 0 1px 2px 0 var(--box-shadow-secondary-color); 
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
}

.buttons button:hover,
.buttons button:focus {
    background-color: var(--button-bg-color);
}

.create {
    margin-block-start: 1.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
}

.create p {    
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.create a {
    text-decoration: underline; 
    text-underline-offset: 4px;
}

.error.itemLevel {
    font-weight: 600;
    color: var(--error-text-color);
}

.reenterPassword_li {
    margin-block-start: 1rem;
}
